/* CSS for the whole page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background class CSS starts here */
body {
    background-image: url(bg.jpg);
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top center;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
}
.heading {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.35);
    height: 60px;
    border-radius: 31px;
    border: 2px solid rgba(255, 255, 255, 0);
    margin-left: 25px;
    margin-right: 25px;
    border: 0.5px solid rgb(238, 226, 226);
}

.logo {
    padding-top: 0px;
    text-align: center;
    line-height: 60px;
    font-size: 40px;
    color: rgb(247, 247, 252);
    text-shadow: 0.4px 0.4px 0 #000, /* Top-left shadow */
    0.4px -0.4px 0 #000, /* Bottom-left shadow */
    -0.4px 0.4px 0 #000, /* Top-right shadow */
    -0.4px -0.4px 0 #000; /* Bottom-right shadow */
   
}

.app-main {
    width: 50vh;
    margin: 30px auto;
    background-color: rgb(165, 169, 201);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid rgb(253, 252, 252);
    padding-top: 25px;
}

.app-main>* {
    margin-bottom: 20px;
}

.input-box {
    width: 100%;
    background-color: rgb(253, 252, 252);
    border: none;
    outline: none;
    color: #000000;
    font-size: 1.2rem;
    height: 50px;
    border-radius: 5px;
    padding: 0 10px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid rgb(158, 154, 148);
}

.input-box:focus {
    background-color: rgb(250, 249, 249);
}

.weather-body {
    display: none;
    color: #fcf8f9;
    padding: 20px;
    line-height: 2rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.068);
    height: 50vh;
    border-radius: 8px;
    border: 2px solid rgb(253, 253, 253, 0%)
}

.location-details {
    font-weight: bold;
    font-size: 24px;
    font-style: bold;
    color: rgb(245, 239, 239);
    text-shadow: 1px 1px rgb(59, 58, 58);
}

.weather-status {
    padding: 20px;
    text-shadow: 1px 1px rgb(12, 12, 12);
}

.temp {
    font-size: 50pt;
    font-weight: 700;
    margin: 20px 0;
    text-shadow: 2px 4px rgba(0, 0, 0, 0.61);
    margin-top: 50px;
}

.min-max,
.weather {
    font-size: 16pt;
    font-weight: 600;
    margin-bottom: 40px;
}


@media (max-width: 1650px) {
    body {
        background-image: url(bg.jpg);
        height: 100vh;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: top center;
        font-family: Arial, Helvetica, sans-serif;
        background-size: cover;
    }

    .heading {
        margin-top: 20px;
        background-color: rgba(0, 0, 0, 0.30);
        height: 70px;
        border-radius: 31px;
        border: 2px solid rgba(255, 255, 255, 0);
        margin-left: 25px;
        margin-right: 25px;
        border: 0.25px solid rgb(238, 226, 226);
    }
    
    .logo {
        padding-top: 0px;
        text-align: center;
        line-height: 60px;
        font-size: 40px;
        color: rgb(247, 247, 252);
        text-shadow: 0.4px 0.4px 0 #000, /* Top-left shadow */
        0.4px -0.4px 0 #000, /* Bottom-left shadow */
        -0.4px 0.4px 0 #000, /* Top-right shadow */
        -0.4px -0.4px 0 #000; /* Bottom-right shadow */
       
    }
    .app-main {
        width: 50vh;
        margin: 30px auto;
        background: rgb(253, 253, 253, 0.40);
        padding: 20px;
        text-align: center;
        border-radius: 20px;
        border: 0.3px solid rgba(97, 96, 96, 0.897);
        padding-top: 25px;
    }

    .app-main>* {
        margin-bottom: 20px;
    }

    .input-box {
        width: 100%;
        background-color: rgb(253, 252, 252);
        border: none;
        outline: none;
        color: #000000;
        font-size: 1.2rem;
        height: 40px;
        
        padding: 0 10px;
        text-align: center;
        border-radius: 18px;
        border: 1px solid rgb(158, 154, 148);
    }

    .weather-body {
        display: none;
        color: #fcf8f9;
        padding: 20px;
        line-height: 2rem;
        border-radius: 10px;
        background-color: rgb(0, 0, 0, 0.42);
        height: 50vh;
        border-radius: 8px;
        border: 2px solid rgb(253, 253, 253, 0%)
    }

    .location-details {
        font-weight: bold;
        font-size: 18px;
        font-style: bold;
        color: rgb(255, 248, 248);
        text-shadow: 1px 1px rgb(59, 58, 58);
    }

    .temp {
        font-size: 40pt;
        font-weight: 700;
        margin: 20px 0;
        text-shadow: 2px 4px rgba(0, 0, 0, 0.61);
        margin-top: 40px;
    }

    .min-max,
    .weather {
        font-size: 14pt;
        font-weight: 600;
        margin-bottom: 40px;
    }
}

@media (max-width: 1450px) {
    body {
        background-image: url(bg.jpg);
        height: 100vh;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: top center;
        font-family: Arial, Helvetica, sans-serif;
        background-size: cover;
    }

    .app-main {
        width: 50vh;
        margin: 30px auto;
        background: rgb(253, 253, 253, 0.2);
        padding: 20px;
        text-align: center;
        border-radius: 8px;
        border: 2px solid rgb(248, 247, 247, 0);
        padding-top: 25px;
    }

    .app-main>* {
        margin-bottom: 20px;
    }

    .input-box {
        width: 100%;
        background-color: rgb(253, 252, 252);
        border: none;
        outline: none;
        color: #000000;
        font-size: 1.2rem;
        height: 40px;
        border-radius: 5px;
        padding: 0 10px;
        text-align: center;
        border-radius: 25px;
        border: 1px solid rgb(0, 0, 0, 0);
    }

    .weather-body {
        display: none;
        color: #fcf8f9;
        padding: 20px;
        line-height: 2rem;
        border-radius: 10px;
        background-color: rgb(0, 0, 0, 0.52);
        height: 50vh;
        border-radius: 8px;
        border: 2px solid rgb(253, 253, 253, 0%)
    }

    .location-details {
        font-weight: bold;
        font-size: 18px;
        font-style: bold;
        color: rgb(255, 248, 248);
        text-shadow: 1px 1px rgb(59, 58, 58);
    }

    .temp {
        font-size: 40pt;
        font-weight: 700;
        margin: 20px 0;
        text-shadow: 2px 4px rgba(0, 0, 0, 0.61);
        margin-top: 40px;
    }

    .min-max,
    .weather {
        font-size: 14pt;
        font-weight: 600;
        margin-bottom: 40px;
    }
}

@media (max-width: 850px) {
    body {
        background-image: url(bg.jpg);
        height: 100vh;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: top center;
        font-family: Arial, Helvetica, sans-serif;
        background-size: cover;
    }

    .app-main {
        width: 50vh;
        margin: 30px auto;
        background: rgb(253, 253, 253, 0.2);
        padding: 20px;
        text-align: center;
        border-radius: 8px;
        border: 2px solid rgb(248, 247, 247, 0);
        padding-top: 25px;
    }

    .app-main>* {
        margin-bottom: 20px;
    }

    .input-box {
        width: 100%;
        background-color: rgb(248, 244, 244);
        border: none;
        outline: none;
        color: #000000;
        font-size: 1.2rem;
        height: 40px;
        border-radius: 5px;
        padding: 0 10px;
        text-align: center;
        border-radius: 8px;
        border: 1px solid rgb(158, 154, 148);
    }

    .weather-body {
        display: none;
        color: #fcf8f9;
        padding: 20px;
        line-height: 2rem;
        border-radius: 10px;
        background-color: rgb(0, 0, 0, 0.52);
        height: 50vh;
        border-radius: 8px;
        border: 2px solid rgb(253, 253, 253, 0%)
    }

    .location-details {
        font-weight: bold;
        font-size: 18px;
        font-style: bold;
        color: rgb(247, 242, 242);
        text-shadow: 1px 1px rgb(59, 58, 58);
    }

    .temp {
        font-size: 35pt;
        font-weight: 700;
        margin: 20px;
        text-shadow: 2px 4px rgba(0, 0, 0, 0.61);
    }

    .min-max,
    .weather {
        font-size: 14pt;
        font-weight: 600;
        margin-bottom: 40px;
    }
}

@media (max-width: 750px) {
    body {
        background-image: url(bg.jpg);
        height: 100vh;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: top center;
        font-family: Arial, Helvetica, sans-serif;
        background-size: cover;
    }

    .logo {
        font-size: 45px;
    }

    .app-main {
        width: 40vh;
        margin: 30px auto;
        background: rgb(253, 253, 253, 0.2);
        padding: 20px;
        text-align: center;
        border-radius: 8px;
        border: 2px solid rgb(248, 247, 247, 0);
        padding-top: 25px;
    }

    .app-main>* {
        margin-bottom: 20px;
    }

    .location-details {
        font-weight: bold;
        font-size: 16px;
        font-style: bold;
        color: rgb(245, 238, 238);
        text-shadow: 1px 1px rgb(59, 58, 58);
    }

    .temp {
        font-size: 25pt;
        font-weight: 700;
        margin: 10px 0;
        text-shadow: 2px 4px rgba(0, 0, 0, 0.61);
    }

    .input-box {
        width: 100%;
        background-color: rgb(253, 252, 252);
        border: none;
        outline: none;
        color: #000000;
        font-size: 1.2rem;
        height: 38px;
        border-radius: 5px;
        padding: 0 10px;
        text-align: center;
        border-radius: 8px;
        border: 1px solid rgb(158, 154, 148);
    }

    .weather-body {
        display: none;
        color: #fcf8f9;
        padding: 10px;
        line-height: 2rem;
        border-radius: 10px;
        background-color: rgb(0, 0, 0, 0.52);
        height: 50vh;
        border-radius: 8px;
        border: 2px solid rgb(253, 253, 253, 0%)
    }

    .min-max,
    .weather {
        font-size: 12pt;
        font-weight: 600;
        margin-bottom: 40px;
    }
}

@media (max-width: 650px) {
    body {
        background-image: url(bg.jpg);
        height: 100vh;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: top center;
        font-family: Arial, Helvetica, sans-serif;
        background-size: cover;
    }

    .logo {
        font-size: 30px;
    }

    .app-main {
        width: 40vh;
        margin: 30px auto;
        background: rgb(253, 253, 253, 0.2);
        padding: 10px;
        text-align: center;
        border-radius: 8px;
        border: 2px solid rgb(248, 247, 247, 0);
        padding-top: 25px;
    }

    .app-main>* {
        margin-bottom: 20px;
    }

    .location-details {
        font-weight: bold;
        font-size: 14px;
        font-style: bold;
        color: rgb(248, 245, 245);
        text-shadow: 1px 1px rgb(59, 58, 58);
    }

    .temp {
        font-size: 20pt;
        font-weight: 700;
        margin: 10px 0;
        text-shadow: 2px 4px rgba(0, 0, 0, 0.61);
    }

    .input-box {
        width: 100%;
        background-color: rgb(253, 252, 252);
        border: none;
        outline: none;
        color: #000000;
        font-size: 1.2rem;
        height: 30px;
        border-radius: 5px;
        padding: 0 10px;
        text-align: center;
        border-radius: 8px;
        border: 1px solid rgb(158, 154, 148);
    }

    .weather-body {
        display: none;
        color: #fcf8f9;
        padding: 10px;
        line-height: 2rem;
        border-radius: 10px;
        background-color: rgb(0, 0, 0, 0.52);
        height: 50vh;
        border-radius: 8px;
        border: 2px solid rgb(253, 253, 253, 0%)
    }

    .min-max,
    .weather {
        font-size: 12pt;
        font-weight: 600;
        margin-bottom: 40px;
    }
}

@media (max-width: 450px) {
    body {
        background-image: url(bg.jpg);
        height: 100vh;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: top center;
        font-family: Arial, Helvetica, sans-serif;
        background-size: cover;
    }

    .logo {
        font-size: 30px;
    }

    .app-main {
        width: 40vh;
        margin: 30px auto;
        background: rgb(253, 253, 253, 0.2);
        padding: 20px;
        text-align: center;
        border-radius: 8px;
        border: 2px solid rgb(248, 247, 247, 0%);
        padding-top: 25px;
    }

    .app-main>* {
        margin-bottom: 20px;
    }

    .input-box {
        width: 100%;
        background-color: rgb(253, 252, 252);
        border: none;
        outline: none;
        color: #000000;
        font-size: 1.2rem;
        height: 40px;
        border-radius: 5px;
        padding: 0 10px;
        text-align: center;
        border-radius: 25px;
        border: 1px solid rgb(0, 0, 0, 0%);
    }

    .weather-body {
        display: none;
        color: #fcf8f9;
        padding: 20px;
        line-height: 2rem;
        border-radius: 10px;
        background-color: rgb(0, 0, 0, 0.52);
        height: 50vh;
        border-radius: 8px;
        border: 2px solid rgb(253, 253, 253, 0%);
    }

    .location-details {
        font-weight: bold;
        font-size: 18px;
        font-style: bold;
        color: rgb(255, 248, 248);
        text-shadow: 1px 1px rgb(59, 58, 58);
    }

    .temp {
        font-size: 40pt;
        font-weight: 700;
        margin: 20px 0;
        text-shadow: 2px 4px rgba(0, 0, 0, 0.61);
        margin-top: 50px;
    }

    .min-max,
    .weather {
        font-size: 14pt;
        font-weight: 600;
        margin-bottom: 40px;
    }
}

@media (max-width: 170px) {
    body {
        background-image: url(bg.jpg);
        height: 100vh;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: top center;
        font-family: Arial, Helvetica, sans-serif;
        background-size: cover;
    }

    .logo {
        font-size: 20px;
    }

    .app-main {
        width: 40vh;
        margin: 30px auto;
        background: rgb(253, 253, 253, 0.2);
        padding: 10px;
        text-align: center;
        border-radius: 8px;
        border: 2px solid rgb(248, 247, 247, 0%);
        padding-top: 25px;
    }

    .app-main>* {
        margin-bottom: 20px;
    }

    .location-details {
        font-weight: bold;
        font-size: 10px;
        font-style: bold;
        color: rgb(253, 247, 247);
        text-shadow: 1px 1px rgb(59, 58, 58);
    }

    .temp {
        font-size: 12pt;
        font-weight: 700;
        margin: 10px 0;
        text-shadow: 2px 4px rgba(0, 0, 0, 0.61);
    }

    .input-box {
        width: 100%;
        background-color: rgb(253, 252, 252);
        border: none;
        outline: none;
        color: #000000;
        font-size: 1.2rem;
        height: 25px;
        border-radius: 5px;
        padding: 0 10px;
        text-align: center;
        border-radius: 8px;
        border: 1px solid rgb(158, 154, 148);
    }

    .weather-body {
        display: none;
        color: #fcf8f9;
        padding: 10px;
        line-height: 2rem;
        border-radius: 10px;
        background-color: rgb(0, 0, 0, 0.52);
        height: 40vh;
        border-radius: 8px;
        border: 2px solid rgb(253, 253, 253, 0%)
    }

    .min-max,
    .weather {
        font-size: 8pt;
        font-weight: 600;
        margin-bottom: 40px;
    }
}

@media (max-width: 70px) {
    body {
        background-image: url(bg.jpg);
        height: 100vh;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: top center;
        font-family: Arial, Helvetica, sans-serif;
        background-size: cover;
    }

    .logo {
        font-size: 18px;
    }

    .app-main {
        width: 40vh;
        margin: 30px auto;
        background: rgb(253, 253, 253, 0.2);
        padding: 10px;
        text-align: center;
        border-radius: 8px;
        border: 2px solid rgb(248, 247, 247, 0%);
        padding-top: 25px;
    }

    .app-main>* {
        margin-bottom: 20px;
    }

    .location-details {
        font-weight: bold;
        font-size: 10px;
        font-style: bold;
        color: rgb(255, 248, 248);
        text-shadow: 1px 1px rgb(59, 58, 58);
    }

    .temp {
        font-size: 10pt;
        font-weight: 700;
        margin: 10px 0;
        text-shadow: 2px 4px rgba(0, 0, 0, 0.61);
    }

    .input-box {
        width: 100%;
        background-color: rgb(253, 252, 252);
        border: none;
        outline: none;
        color: #000000;
        font-size: 1.2rem;
        height: 20px;
        border-radius: 5px;
        padding: 0 10px;
        text-align: center;
        border-radius: 8px;
        border: 1px solid rgb(158, 154, 148);
    }

    .weather-body {
        display: none;
        color: #fcf8f9;
        padding: 10px;
        line-height: 2rem;
        border-radius: 10px;
        background-color: rgb(0, 0, 0, 0.52);
        height: 40vh;
        border-radius: 8px;
        border: 2px solid rgb(253, 253, 253, 0%)
    }

    .min-max,
    .weather {
        font-size: 6pt;
        font-weight: 600;
        margin-bottom: 40px;
    }
}
  
    